.menuContainer {
    display: inline-block;
    position: relative;
}

.menuContainer > button {
    background-color: inherit;
    color: inherit;
    min-width: 64px;
    padding: 4px 16px;
}

.menuContainer button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.menuContainer button:focus {
    outline: none;
}

.menuContainer .menuItemContainer {
    background-color: #343434;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    min-width: 180px;
    position: absolute;
    z-index: 1;
}

.menuContainer .menuItemContainer button {
    background-color: #e6f0e5;
    color: rgb(39, 39, 39);
    display: block;
    padding: 8px;
    text-align: left;
    width: 100%;
}


.menuContainer button:hover {
    background-color: #545454;
}

.menuContainer .menuItemContainer button:hover {
    background-color: #bdf0b8;
}

.menuContainer > button[aria-expanded="true"]{
    background-color: #545454;
}
