body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2B2B2B;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 239, 96);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #2B2B2B;  /* creates padding around scroll thumb */
}